*{
    box-sizing:border-box;
    margin: 0;
    padding: 0;
    font-family: 'Kumbh Sans', sans-serif;
 }
 
 .navbar{
    background: rgb(237, 152, 152);
    height: 80px;
    display: flex;
    justify-content: center;
    align-items:center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index:999;
 }
 
 .navbar__container{
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
 }
 
 #navbar__logo {
    font-style: Georgia;
    font-weight: bold;
    letter-spacing: 1px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    background-color: red;
    background-image: linear-gradient(to top, #ff0844 0%, #080807 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration:  none;
    font-size: 2rem;
 }
 
 .fa-gem{
    margin-right: 0.5rem;
 }
 
 .navbar__menu{
    display: flex;
    align-items:  center;
    list-style: none;
    text-align: center;
    padding: 0;
    margin: 0;
 }
 
 .navbar__item  {
    height: 80px;
    display: flex;
    align-items: center;
 }
 
 .navbar__links{
    color:azure;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 1rem;
    white-space: nowrap;
   
 }
 
 .navbar__btn{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    width: 100%;
 }
 
 .button{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 10px 20px;
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 4px;
    background: red;
    color: white;
 }
 
 .button:hover{
    background: blue;
    transition: all 0.3s ease;
 }
 
 .navbar__links:hover{
    color: red;
    transition: all;
 }
 
 @media screen and (max-width: 960px){
    .navbar__container{
       display: flex;
       justify-content: space-between;
       height: 80px;
       z-index: 1;
       width: 100%;
       max-width: 1300px;
       padding: 0;
    }
 
    .navbar__menu{
       display: grid;
       grid-template-columns: auto;
       margin: 0;
       width: 100%;
       position: absolute;
       top: -1000px;
       opacity: 0;
       transition: all 0.3s ease;
       height: 50vh;
       z-index: -1;
       background: black;
    }
 
    .navbar__menu.active{
       background: black;
       top: 100%;
       opacity: 1;
       transition: all 0.3s ease;
       z-index: 99;
       height: 50vh;
       font-size: 1.6rem;
    }
 
    #navbar__logo{
       padding-left: 25px;
    }
 
    .navbar__toggle .bar{
       width: 25px;
       height: 3px;
       margin: 5px auto;
       transition: all;
       background: white;
    }
 
    .navbar__item {
       width: 100%;
    }
 
    .navbar__links {
       text-align: center;
       padding: 2rem;
       width: 100%;
       display: table;
 
    }
 
    #mobile-menu {
      position: absolute;
      top: 20%;
      right: 5%;
      transform: translate(5%, 20%);
    }
 
    .navbar__btn{
       padding-bottom: 2rem;
    }
 
    .button {
       display: flex;
       justify-content: center;
       align-items: center;
       width: 80%;
       height: 80px;
       margin: 0;
    }
 
    .navbar__toggle .bar{
       display: block;
       cursor: pointer;
    }
 
    #mobile-menu.is-active  .bar:nth-child(2){
       opacity: 0;
    }
 
    #mobile-menu.is-active  .bar:nth-child(1){
       transition: all 0.3s ease;
       transform: translateY(8px) rotate(45deg);
    }
 
    #mobile-menu.is-active  .bar:nth-child(3){
       transition: all 0.3s ease;
       transform: translateY(-8px) rotate(-45deg);
    }
 }
 

 /*profile icon start*/
 .profile{
   display: flex;
   justify-content: flex-end;
   padding: 10px;
   align-items: center;
 }
 .icon{
    color: #333;
    font-size: 1.5rem;
    margin-right: 10px;
    text-decoration: none;
    display: flex;
    align-items: center;
    transition: color 0.3s ease;
 }
 
 .icon:hover{
    color: #ee225c;
    transform: translateY(-5px);
 }
 
 
 .profile-icon{
    color: #812654;
 }
 /*profile icon end*/
 
 .main{
    background-color: pink;
 }
 
 .main__container{
    display: flex;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    height: 80vh;
    background-image: url('images/bracelet.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0 50px;
 }
 
 .main__content {
    z-index: 2; 
    text-align: center;
 }
 
 .main__container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1; /* Place the overlay behind the content */
 }
 
 .main__content h1{
    font-size: 4rem;
    background-color: red;
    background-image: linear-gradient(to top,rgb(116, 10, 10) 0%, rgb(232, 178, 187) 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
 }
 
 .main__content h2{
    font-size: 4rem;
    background-color: rgb(165, 106, 106);
    background-image: linear-gradient(to top,rgb(141, 51, 123) 0%, pink 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
 }
 .main__content p{
    margin-top: 1rem;
    font-size: 2rem;
    font-weight: 700;
 }
 
 .main__btn {
    font-size: 1rem;
    background-image: linear-gradient(to top, rgb(210, 124, 124) 0%, pink 100%);
    padding: 14px 32px;
    border: none;
    border-radius: 10px;
    color: white;
    margin-top: 2rem;
    cursor: pointer;
    position: relative;
    transition: all 0.35s;
    outline: none;
 }
 
 .main__btn a{
    position: relative;
    z-index: 2;
    color: white;
    text-decoration: none;
 }
 
 .main__btn:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: rgb(205, 59, 156);
    transition: all 0.35s;
    border-radius: 4px;
 }
 
 .main__btn:hover{
    color: white;
 }
 
 .main__btn:hover:after{
    width: 100%;
 }
 
 
 
 @media screen and (max-width: 768px){
    .main__container{
       display: grid;
       grid-template-columns: auto;
       align-items: center;
       justify-self: center;
       width: 100%;
       margin: 0 auto;
       height: 90vh;
    }
    .main__content {
    text-align: center;
    margin-bottom: 4rem;
    }
    
    .main__content h1{
       font-size: 2.5rem;
       margin-top: 2rem;  
    }
 
    .main__content h2{
       font-size: 2rem;
    }
 
    .main__content p{
    margin-top: 2rem;
    font-size: 1.5rem;
    }
 
    .main__btn{
       padding: 12px 36px;
    }
 }
 
 
 /*Products section */
 .products-section{
    padding: 50px;
    background: white;
    text-align: center;
 }
 
 .products-title{
    font-size: 2rem;
    color: #c74a4a;
    margin-bottom: 2rem;
 }
 
 /*grid layout*/
 .products-grid{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
 }
 
 /*products*/
 .product-card{
    position: relative;
    border-radius: 15px;
    
    box-shadow: 0 4px 8px rgba(224, 85, 127, 0.1);
    transition: transform 0.3s;
 }
 
 .product-card:hover{
    transform: translateY(-8px);
 }
 
 /*Image overlay container*/
 .product-image-overlay{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
 }
 
 /*product image styling*/
 .product-image{
    width: 100%;
    height: 325px;
    object-fit: cover;
    display: block;
    border-radius: 15px;
 }
 
 /*Text overlay*/
 .product-text{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    text-align: center;
    color: white;
    background:rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
 }
 
 /*Heading(product name)*/
 .product-name{
    font-size: 1rem;
    font-weight: bold;
    margin: 0;
 }
 
 /*subheading(description)*/
 .product-subheading{
    font-size: 0.8rem;
    margin: 5px 0 0;
 }